#! /bin/sh

source_url \
  "https://raw.githubusercontent.com/paisano-nix/direnv/main/lib" \
  "sha256-XKqDMz+VtF8VSJ4yOok4mO1xxXUZbD1t2yC0JmEXrCI="

use_envreload \
  //repo/devshells/default \
  //repo/config/default \
  //repo/packages
