#! /bin/sh

. "$(
  nix eval \
    --no-update-lock-file \
    --no-write-lock-file \
    --no-warn-dirty \
    --accept-flake-config \
    .#__std.direnv_lib 2>/dev/null
)"

use std nix //repo/devshells:default
