#! /bin/sh

source_url \
  "https://raw.githubusercontent.com/paisano-nix/direnv/41d9b206769791263a5fd3aadf883826620114bd/lib" \
  "sha256-R3K8Flvbovj4IOvdlWNtQKLMMSQV464WjG9eU29ixHk="

use_envreload \
  //repo/devshells/default \
  //repo/config/default \
  //repo/packages
